.adContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  float: right;
  display: flex;
  background-color: #d2d9d2;
  width: 72%;
  height: auto;
  margin: 10px 2px;
  border: solid #000000;
  cursor: pointer;
}
