.frontPageContainer {
  background: url("./img/farmersMarket.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #000000;
  margin-top: 0;
}
.frontPageContainer h1 {
  font-family: cursive;
  font-size: 8vw;
  text-align: center;
  color: #0bbf1d;
  text-shadow: 5px 5px #000000;
}
.frontPageContainer h1::first-letter {
  color: #0bbf12;
  font-size: 20vw;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: right;
}

li {
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}
