* {
  box-sizing: border-box;
}

.content {
  width: 100%;
  margin: 0 auto;
  background-image: url("./img/Farmers-Market.jpg");
  font-size: 2vw;
  font-family: cursive;
  color: #000000;
  text-align: center;
  border: solid #000000;
}

.editor {
  border: 5px solid #000000;
  padding: 6px;
}
