.queryContainer {
  background-color: #eaf6eb;
  width: 90%;
  height: 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  border: solid #000000;
  opacity: 0.9;
  padding: 1vw;
}
